
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&family=Inter:wght@600&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;

}


    #cards-feijao {
      margin-top: 0;
      margin-bottom: 0;
      
      width: 90%;
      height: auto;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      list-style: none;
      padding: 0; 
      /* background-color: rgb(191, 0, 255); */
      
      
    }
    
    #prev-feijao,
    #next-feijao {
      display: inline-block; 
      cursor: pointer;
      font-size: 30px; /* Ajuste o tamanho conforme necessário */
      z-index: 1;
      width: 30px; /* Ajuste o tamanho conforme necessário */
      height: 30px; /* Ajuste o tamanho conforme necessário */
    }
    
   
    
    #next-feijao {
      margin-left: 10px;
   
    }
 
    
    #prev-feijao,
    #next-feijao {
     
      color: #000;
    }
         
 
  

    #cards-feijao h3 {
      margin-top: 3px;
      margin-right: 70px;
      margin-bottom: 0px;
      color: #000;

      /* font-family: Gotham Rounded; */
      font-family: 'Exo 2', sans-serif;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 650;
      line-height: normal;
    }


   #feijao {
        /* background-color: rgb(0, 100, 100); */
    
        width: 100%;
        display: none;
    }

 

